<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80250456205-s1jf47ckun3v14f9kcpf0a8lnc4ajju9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80250456205-s1jf47ckun3v14f9kcpf0a8lnc4ajju9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>80250456205-8fq4l9dsknu7gume7iga9ef8eu4bufl9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAx-041yZYqaQCBq3zgZPMUvp-9uEg53Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>80250456205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandcastle.travel</string>
	<key>PROJECT_ID</key>
	<string>gotogetherforflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>gotogetherforflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80250456205:ios:5234eb934bdccdbe3c7ac4</string>
	<key>DATABASE_URL</key>
	<string>https://gotogetherforflutter-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>